@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Syne;
  src: url("../src/fonts/Syne/Syne-VariableFont_wght.ttf");
  font-weight: Medium;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url("../src/fonts/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
  font-weight: Medium;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../src/fonts/Inter/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
  font-weight: Medium;
  font-style: normal;
}

@layer components {
  .btn_skills {
    @apply w-max rounded-[15px] bg-[#00bfff]/65 px-6 py-2 font-semibold;
  }

  .skill_card {
    @apply gradient-card-skills-dark ml-auto mr-auto mt-0 flex h-28 w-28 flex-col items-center justify-evenly gap-4 rounded-md md:h-32 md:w-32 lg:h-44 lg:w-44 lg:rounded-[30px];
  }

  .skill_card_white {
    @apply gradient-card-skills-light ml-auto mr-auto mt-0 flex h-28 w-28 flex-col items-center justify-evenly gap-4 rounded-md md:h-32 md:w-32 lg:h-44 lg:w-44 lg:rounded-[30px];
  }

  .skill_card_white {
    @apply gradient-card-skills-light ml-auto mr-auto mt-0 flex h-28 w-28 flex-col items-center justify-evenly gap-4 rounded-md md:h-32 md:w-32 lg:h-44 lg:w-44 lg:rounded-[30px];
  }

  .text_skill_card {
    @apply font-manrope text-base font-bold lg:text-2xl;
  }

  .image_card {
    @apply h-10 w-10 lg:h-20 lg:w-20;
  }
}

* {
  @apply transition-colors duration-[50ms];
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Syne;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: var(--text);
}

html {
  scroll-behavior: smooth;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active_mobile {
  color: var(--accent);
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition:
    stroke-dasharray 400ms,
    stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

@layer utilities {
  .white-path {
    stroke: #ffffff !important;
  }

  .black-path {
    stroke: #000000 !important;
  }
}

@layer base {
  :root {
    --text: #0c1018;
    --background: #f1f4f8;
    --primary: #7197ef;
    --secondary: #0e1325;
    --accent: #00bfff;
    --color-svg-fill: #f1f4f8;
    --color-svg-fill-black: #0c1018;
    /* Couleur pour le thème clair */
  }

  .dark {
    --text: #e7ebf3;
    --background: #070a0e;
    --primary: #10368e;
    --secondary: #0e1325;
    --accent: #00bfff;
    --color-svg-fill: #e7ebf3;
    --color-svg-fill-black: #e7ebf3;
    /* Couleur pour le thème sombre */
  }

  .gradient-text {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-background-dark {
    background-image: url(/background-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gradient-background-light {
    background-image: url(/background-hero_light.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gradient-nav-light {
    background: rgb(241, 244, 248);
    background: linear-gradient(
      180deg,
      rgba(241, 244, 248, 1) 0%,
      rgba(129, 223, 255, 1.5) 50%,
      rgba(0, 191, 255, 1) 100%
    );
  }

  .gradient-nav-dark {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(16, 54, 142, 1) 100%
    );
  }

  .gradient-background-footer-dark {
    background: rgb(13, 43, 114);
    background: -moz-linear-gradient(
      0deg,
      rgba(13, 43, 114, 1) 0%,
      rgba(13, 43, 114, 0) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(13, 43, 114, 1) 0%,
      rgba(13, 43, 114, 0) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(13, 43, 114, 1) 0%,
      rgba(13, 43, 114, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d2b72", endColorstr="#0d2b72", GradientType=1);
  }

  .gradient-background-footer-light {
    background: rgb(241, 244, 248);
    background: -moz-linear-gradient(
      180deg,
      rgba(241, 244, 248, 0.65) 0%,
      rgba(129, 223, 255, 0.5) 50%,
      rgba(0, 191, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(241, 244, 248, 0.65) 0%,
      rgba(129, 223, 255, 0.5) 50%,
      rgba(0, 191, 255, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(241, 244, 248, 0.65) 0%,
      rgba(129, 223, 255, 0.5) 50%,
      rgba(0, 191, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f4f8", endColorstr="#00bfff", GradientType=1);
  }

  .gradient-card-dark {
    background: rgb(16, 54, 142);
    background: -moz-linear-gradient(
      135deg,
      rgba(16, 54, 142, 1) 0%,
      rgba(16, 54, 142, 0) 100%
    );
    background: -webkit-linear-gradient(
      135deg,
      rgba(16, 54, 142, 1) 0%,
      rgba(16, 54, 142, 0) 100%
    );
    background: linear-gradient(
      135deg,
      rgba(16, 54, 142, 1) 0%,
      rgba(16, 54, 142, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10368e", endColorstr="#10368e", GradientType=1);
  }

  .gradient-card-dark-right {
    background: rgb(16, 54, 142);
    background: -moz-linear-gradient(
      270deg,
      rgba(16, 54, 142, 1) 0%,
      rgba(16, 54, 142, 0) 100%
    );
    background: -webkit-linear-gradient(
      270deg,
      rgba(16, 54, 142, 1) 0%,
      rgba(16, 54, 142, 0) 100%
    );
    background: linear-gradient(
      270deg,
      rgba(16, 54, 142, 1) 0%,
      rgba(16, 54, 142, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10368e", endColorstr="#10368e", GradientType=1);
  }

  .gradient-card-light {
    background: rgb(0, 191, 255);
    background: -moz-linear-gradient(
      135deg,
      rgba(0, 191, 255, 1) 0%,
      rgba(113, 151, 239, 1) 100%
    );
    background: -webkit-linear-gradient(
      135deg,
      rgba(0, 191, 255, 1) 0%,
      rgba(113, 151, 239, 1) 100%
    );
    background: linear-gradient(
      135deg,
      rgba(0, 191, 255, 1) 0%,
      rgba(113, 151, 239, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00bfff", endColorstr="#7197ef", GradientType=1);
  }

  .gradient-work-title-dark {
    background: #004dff;
    background: -webkit-linear-gradient(
      to bottom,
      #004dff 0%,
      #002477 80%,
      #000000 100%
    );
    background: -moz-linear-gradient(
      to bottom,
      #004dff 0%,
      #002477 80%,
      #000000 100%
    );
    background: linear-gradient(
      to bottom,
      #004dff 0%,
      #002477 80%,
      #000000 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-card-skills-dark {
    background: rgb(0, 77, 255);
    background: -moz-linear-gradient(
      180deg,
      rgba(0, 77, 255, 0.66) 0%,
      rgba(0, 89, 211, 0.8) 50%,
      rgba(0, 103, 161, 1) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(0, 77, 255, 0.66) 0%,
      rgba(0, 89, 211, 0.8) 50%,
      rgba(0, 103, 161, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(0, 77, 255, 0.66) 0%,
      rgba(0, 89, 211, 0.8) 50%,
      rgba(0, 103, 161, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004dff",endColorstr="#0067a1",GradientType=1);
  }

  .gradient-card-skills-light {
    background: rgb(133, 185, 255);
    background: -moz-linear-gradient(
      180deg,
      rgba(133, 185, 255, 1) 0%,
      rgba(0, 108, 255, 0.8) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(133, 185, 255, 1) 0%,
      rgba(0, 108, 255, 0.8) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(133, 185, 255, 1) 0%,
      rgba(0, 108, 255, 0.8) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#85b9ff",endColorstr="#006cff",GradientType=1);
  }
}

.menu-background {
  position: absolute;
  height: 75%;
  background-color: var(--accent);
  /* Couleur de l'accent */
  transition:
    left 0.5s ease,
    width 0.5s ease;
  border-radius: 30px;
  /* équivalent de rounded-[60px] en Tailwind */
  z-index: 1;
}

.rotating-curved-text {
  -webkit-animation: spin 12.5s linear infinite;
  -moz-animation: spin 12.5s linear infinite;
  animation: spin 12.5s linear infinite;
  position: absolute;
  left: -32%;
  top: -31.5%;
  font-weight: 400;
  z-index: 1;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.accent {
  color: var(--accent);
}

.worklink {
  color: var(--accent);
  text-decoration: underline;
}

.wordenternship {
  color: var(--accent);
  text-decoration: underline;
  font-size: larger;
}
